<!--Below line includes Employee model and strongly types this view to the Details view-->
@model EmployeeManagement.Models.Employee

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>
    <!--
        Note we are still using ViewBag as pageTitle is not a property of the Employee model
        To get rid of ViewBag we will create ViewModel which will have all the required properties for Employee model and Details page
    -->

    <div>
        Name : @Model.Name 
    </div>
    <div>
        Email : @Model.Email
    </div>
    <div>
        Department : @Model.Department
    </div>
</body>
</html>