<h1>Sorry! An error occured on the server.</h1>
<h2>Below are the details of the exception:</h2>


<div class="alert alert-danger">
    <h3>Error path:</h3>
    <hr />
    <p>@ViewBag.ErrorPath</p>
</div>

<div class="alert alert-danger">
    <h3>Inner exception:</h3>
    <hr />
    <p>@ViewBag.ErrorDesc</p>
</div>

<div class="alert alert-danger">
    <h3>Stack trace:</h3>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>