@{ 
    ViewBag.Title = "Error page";
}

<h1>@ViewBag.ErrorMsg</h1>
<h3>@ViewBag.Path</h3>
<h3>@ViewBag.QS</h3>

<a asp-action="index" asp-controller="Home">
    Click here to navigate to the Home page
</a>